# Core functionality - changes here should be rare!
/src/app.py                   @alakastrulya
/src/backend/database.py      @alakastrulya
/src/backend/routers/auth.py  @alakastrulya

# The frontend will need refactored soon to be more object oriented.
/src/static/   @alakastrulya
